# Stockbot config

# alpaca
APIKEYID = ""  # os.getenv('APCA_API_KEY_ID')
APISECRETKEY = ""  # os.getenv('APCA_API_SECRET_KEY')
APIBASEURL = "https://paper-api.alpaca.markets"  # os.getenv('APCA_API_BASE_URL')


# NASDAQ Url
NASDAQ_API_URL = "https://api.nasdaq.com/api/screener/stocks?tableonly=true&limit=300" \
                 "&marketcap=mega|large|mid|small" \
                 "&recommendation=strong_buy|buy"

# max price of symbol to buy
STOCK_MAX_PRICE = 1000

# min price of symbol to buy
STOCK_MIN_PRICE = 20

# max number of different symbols to buy
MAX_NUM_STOCKS = 20

# what percent gain triggers to sell during the day
SELL_PERCENT_GAIN = 3

# how much money to start trading with
START_EQUITY = 50000

# how much to invest per trade
INVESTMENT_PER_TRADE = 2000

# number of days for determining stock movement
MOVED_DAYS = 3

# use start/end prices (set to 0) of MOVED_DAYS or daily average (set to 1) of MOVED_DAYS
MOVED_DAYS_CALC = 0

# buy at open
BAO_BUY_START_TIME = "09:30"  # what time to start buying stocks
BAO_BUY_END_TIME = "11:00"  # what time to stop buying stocks
BAO_SELL_START_TIME = "11:00"  # what time to start selling stocks
BAO_SELL_END_TIME = "15:30"  # what time to stop selling stocks

# buy at close

BAC_BUY_START_TIME = "15:00"  # what time to start buying stocks
BAC_BUY_END_TIME = "16:00"  # what time to stop buying stocks
BAC_SELL_START_TIME = "9:30"  # what time to start selling stocks
BAC_SELL_END_TIME = "14:00"  # what time to stop selling stocks
